.CenterDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.leftChildren {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  position: absolute;
  width: 100%;
}

.rightChildren {
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: right;
  position: absolute;
  width: 100%;
}

.square {
  width: 100%;
  height: width;
}

.bluebg {
  background-color: rgb(88, 185, 218);
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  flex: 1 0 10%;
  background: rgb(31, 51, 71);
}

img {
  border-radius: 50%;
  border-collapse: separate;
}
